// Specific CSS for your home-page
.link-box {
  a {
    color: white;
  }
  .login {
    color: blue;
    &:hover {
      color: #080e41;
      border-color: #080e41;
    }
  }
}
a {
 color: inherit;
 &:hover {
   text-decoration: none;
   background-color: inherit;
 }
}

.fas {
  color: gray;
  &:visited {
    color: gray;
  }
}