<div class="list-group mt-5">
  <% articles.each do |article| %>
    <div class="list-group-item list-group-item-action border shadow-sm p-3 my-2 bg-white">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= link_to article.title, article_path(article), class: "article-title" %></h5>
        <small><%= article.days_ago %></small>
      </div>
      <small><%=link_to article.user.username, user_path(article.user.to_param) %></small>
      <p class="mb-1"><%= simple_format((article.content))[0..50] %></p>
    </div>
  <% end %>
</div>