<ul class="list-group list-group-horizontal-md">
  <li class="list-group-item"><%= link_to "Recent", recent_articles_path %></li>
  <li class="list-group-item"><%= link_to "Top", articles_path %></li>
  <% if current_user %>
    <li class="list-group-item"><%= link_to "My Article", my_articles_path %></li>
  <% end %>
</ul>