<div class="list-group-item">
  <h4>Notice</h4>
  <p>You can write content similar to how you write html.</p>
  <p>p.s Please use <strong> 🦾</strong> inside paragraph.</p>
</div>

<%= render 'form', article: [@user, @article] %>