<div class="list-group-item shadow-sm p-3 mt-2 mb-5 bg-white">
  <h4>Notice</h4>
  <p>You can write content similar to how you write html.</p>
  <p>p.s Please use <strong> 🦾</strong> inside paragraph.</p>
</div>

<%= render 'form', article: [@user, @article] %>