<div class="card my-3 border-0">
  <div class="card-body">
    <h3 class="inline-block card-title border-bottom py-2">
      <%= @article.title %>
    </h3>
    <p class="card-text"><%= simple_format((@article.content)) %></p>
  </div>
</div>