// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// bootstrap and font-awesome
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


.link-box {
  a {
    color: white;
  }
  .login {
    color: blue;
    &:hover {
      color: #080e41;
      border-color: #080e41;
    }
  }
}
a {
 color: inherit;
 &:hover {
   text-decoration: none;
   background-color: inherit;
 }
}

.fas {
  color: gray;
  &:visited {
    color: gray;
  }
}